//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 20 13:19:23 2018
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

